<!-- <header class="dd"><a routerLink="" class="headerText">customers</a></header>

<div class="card">
    <title class="profileTitle">Add New Customer</title>
    <img src="../../assets/images/john.png" alt="John" style="width:100%">
<div >
    <input #id type="number" placeholder="id" name="id" id="id"><br>
    <input #name type="text" placeholder="name" name="name" id="name"><br>
    <button (click)="add(id.value,name.value)">Add</button>
</div>
</div> -->
<header class="dd"><a routerLink="" class="headerText">customers</a>

</header>
<h1>Add New Customer</h1>
<div class="card">

<title class="profileTitle">Add New Customer</title>

<img src="../../assets/images/john.png" alt="John" style="width:100%">

<input #id type="number" placeholder="id" name="id" id="id"><br>

<input #name type="text" placeholder="name" name="name" id="name"><br>

<button (click)="add(id.value,name.value)">Add</button>
</div>